@use '@dwijbavisi/dynamics/tokens/mood-swings' as dynamics-tokens;

////
/// @access public
/// @group tokens
////

/// Prefix to be applied to the property. \
/// Set to false or null to exclude prefix.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $prefix: 'mood-swings'
///     );
/// @type string
$prefix: dynamics-tokens.$prefix !default;

/// Accent color for the color scheme.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $accent: blue
///     );
/// @type Color
$accent: dynamics-tokens.$accent !default;

/// Variant color for the color scheme.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $variant: seagreen
///     );
/// @type Color
$variant: dynamics-tokens.$variant !default;

/// Mood color for the color scheme. \
/// When black, it does not blend with other colors.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $mood: #451476
///     );
/// @type Color
$mood: dynamics-tokens.$mood !default;

/// Error color for the color scheme.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $error: red
///     );
/// @type Color
$error: dynamics-tokens.$error !default;

/// Warning color for the color scheme.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $warning: orange
///     );
/// @type Color
$warning: dynamics-tokens.$warning !default;

/// Success color for the color scheme.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $success: lightgreen
///     );
/// @type Color
$success: dynamics-tokens.$success !default;

/// Background to text lightness contrast. \
/// Should be between 0 to 50.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $on-shift: 40
///     );
/// @type number
$on-shift: dynamics-tokens.$on-shift !default;

/// Background to container lightness contrast. \
/// Should be between 0 to 50.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $container-shift: 20
///     );
/// @type number
$container-shift: dynamics-tokens.$container-shift !default;

/// Default color to mood blend ratio. \
/// Used to generate primary color.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $blend-ratio: 0.2
///     );
/// @type number
$blend-ratio: dynamics-tokens.$blend-ratio !default;

/// Variant to mood blend ratio. \
/// Used to generate secondary color.
/// @example scss
///     @use '@dwijbavisi/mood-swings/tokens' with (
///         $variant-blend-ratio: 0.4
///     );
/// @type number
$variant-blend-ratio: dynamics-tokens.$variant-blend-ratio !default;
