:root {
  --mood-swings-accent-h: 270;
  --mood-swings-accent-s: 60;
  --mood-swings-accent-l: 42;
  --mood-swings-accent: hsl(var(--mood-swings-accent-h, 0), calc(clamp(0, var(--mood-swings-accent-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-accent-l, 0), 100) * 1%));
  --mood-swings-accent-variant-h: 60;
  --mood-swings-accent-variant-s: 60;
  --mood-swings-accent-variant-l: 42;
  --mood-swings-accent-variant: hsl(var(--mood-swings-accent-variant-h, 0), calc(clamp(0, var(--mood-swings-accent-variant-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-accent-variant-l, 0), 100) * 1%));
  --mood-swings-mood-h: 0;
  --mood-swings-mood-s: 0;
  --mood-swings-mood-l: 0;
  --mood-swings-mood: hsl(var(--mood-swings-mood-h, 0), calc(clamp(0, var(--mood-swings-mood-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-mood-l, 0), 100) * 1%));
  --mood-swings-mood--flag: clamp(0, clamp(0, var(--mood-swings-mood-s) - 0, 1) + clamp(0, var(--mood-swings-mood-l) - 0, 1), 1);
  --mood-swings-warning-h: 0;
  --mood-swings-warning-s: 60;
  --mood-swings-warning-l: 42;
  --mood-swings-warning: hsl(var(--mood-swings-warning-h, 0), calc(clamp(0, var(--mood-swings-warning-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-warning-l, 0), 100) * 1%));
  --mood-swings-on-warning-h: var(--mood-swings-warning-h, 0);
  --mood-swings-on-warning-s: clamp(0, var(--mood-swings-warning-s, 0), 100);
  --mood-swings-on-warning--sign: calc(-2 * clamp(0, var(--mood-swings-warning-l) - 50, 1) + 1);
  --mood-swings-on-warning-l: calc(clamp(0, var(--mood-swings-warning-l, 0), 100) + 50 * var(--mood-swings-on-warning--sign));
  --mood-swings-on-warning: hsl(var(--mood-swings-on-warning-h, 0), calc(clamp(0, var(--mood-swings-on-warning-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-warning-l, 0), 100) * 1%));
  --mood-swings-warning-container-h: var(--mood-swings-warning-h, 0);
  --mood-swings-warning-container-s: clamp(0, var(--mood-swings-warning-s, 0), 100);
  --mood-swings-warning-container--sign: calc(-2 * clamp(0, var(--mood-swings-warning-l) - 30, 1) + 1);
  --mood-swings-warning-container-l: calc(clamp(0, var(--mood-swings-warning-l, 0), 100) + 30 * var(--mood-swings-warning-container--sign));
  --mood-swings-warning-container: hsl(var(--mood-swings-warning-container-h, 0), calc(clamp(0, var(--mood-swings-warning-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-warning-container-l, 0), 100) * 1%));
  --mood-swings-on-warning-container-h: var(--mood-swings-warning-container-h, 0);
  --mood-swings-on-warning-container-s: clamp(0, var(--mood-swings-warning-container-s, 0), 100);
  --mood-swings-on-warning-container--sign: calc(-2 * clamp(0, var(--mood-swings-warning-container-l) - 50, 1) + 1);
  --mood-swings-on-warning-container-l: calc(clamp(0, var(--mood-swings-warning-container-l, 0), 100) + 50 * var(--mood-swings-on-warning-container--sign));
  --mood-swings-on-warning-container: hsl(var(--mood-swings-on-warning-container-h, 0), calc(clamp(0, var(--mood-swings-on-warning-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-warning-container-l, 0), 100) * 1%));
  --mood-swings-warning-variant-h: 60;
  --mood-swings-warning-variant-s: 60;
  --mood-swings-warning-variant-l: 42;
  --mood-swings-warning-variant: hsl(var(--mood-swings-warning-variant-h, 0), calc(clamp(0, var(--mood-swings-warning-variant-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-warning-variant-l, 0), 100) * 1%));
  --mood-swings-on-warning-variant-h: var(--mood-swings-warning-variant-h, 0);
  --mood-swings-on-warning-variant-s: clamp(0, var(--mood-swings-warning-variant-s, 0), 100);
  --mood-swings-on-warning-variant--sign: calc(-2 * clamp(0, var(--mood-swings-warning-variant-l) - 50, 1) + 1);
  --mood-swings-on-warning-variant-l: calc(clamp(0, var(--mood-swings-warning-variant-l, 0), 100) + 50 * var(--mood-swings-on-warning-variant--sign));
  --mood-swings-on-warning-variant: hsl(var(--mood-swings-on-warning-variant-h, 0), calc(clamp(0, var(--mood-swings-on-warning-variant-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-warning-variant-l, 0), 100) * 1%));
  --mood-swings-warning-variant-container-h: var(--mood-swings-warning-variant-h, 0);
  --mood-swings-warning-variant-container-s: clamp(0, var(--mood-swings-warning-variant-s, 0), 100);
  --mood-swings-warning-variant-container--sign: calc(-2 * clamp(0, var(--mood-swings-warning-variant-l) - 30, 1) + 1);
  --mood-swings-warning-variant-container-l: calc(clamp(0, var(--mood-swings-warning-variant-l, 0), 100) + 30 * var(--mood-swings-warning-variant-container--sign));
  --mood-swings-warning-variant-container: hsl(var(--mood-swings-warning-variant-container-h, 0), calc(clamp(0, var(--mood-swings-warning-variant-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-warning-variant-container-l, 0), 100) * 1%));
  --mood-swings-on-warning-variant-container-h: var(--mood-swings-warning-variant-container-h, 0);
  --mood-swings-on-warning-variant-container-s: clamp(0, var(--mood-swings-warning-variant-container-s, 0), 100);
  --mood-swings-on-warning-variant-container--sign: calc(-2 * clamp(0, var(--mood-swings-warning-variant-container-l) - 50, 1) + 1);
  --mood-swings-on-warning-variant-container-l: calc(clamp(0, var(--mood-swings-warning-variant-container-l, 0), 100) + 50 * var(--mood-swings-on-warning-variant-container--sign));
  --mood-swings-on-warning-variant-container: hsl(var(--mood-swings-on-warning-variant-container-h, 0), calc(clamp(0, var(--mood-swings-on-warning-variant-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-warning-variant-container-l, 0), 100) * 1%));
  --mood-swings-success-h: 120;
  --mood-swings-success-s: 60;
  --mood-swings-success-l: 42;
  --mood-swings-success: hsl(var(--mood-swings-success-h, 0), calc(clamp(0, var(--mood-swings-success-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-success-l, 0), 100) * 1%));
  --mood-swings-on-success-h: var(--mood-swings-success-h, 0);
  --mood-swings-on-success-s: clamp(0, var(--mood-swings-success-s, 0), 100);
  --mood-swings-on-success--sign: calc(-2 * clamp(0, var(--mood-swings-success-l) - 50, 1) + 1);
  --mood-swings-on-success-l: calc(clamp(0, var(--mood-swings-success-l, 0), 100) + 50 * var(--mood-swings-on-success--sign));
  --mood-swings-on-success: hsl(var(--mood-swings-on-success-h, 0), calc(clamp(0, var(--mood-swings-on-success-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-success-l, 0), 100) * 1%));
  --mood-swings-success-container-h: var(--mood-swings-success-h, 0);
  --mood-swings-success-container-s: clamp(0, var(--mood-swings-success-s, 0), 100);
  --mood-swings-success-container--sign: calc(-2 * clamp(0, var(--mood-swings-success-l) - 30, 1) + 1);
  --mood-swings-success-container-l: calc(clamp(0, var(--mood-swings-success-l, 0), 100) + 30 * var(--mood-swings-success-container--sign));
  --mood-swings-success-container: hsl(var(--mood-swings-success-container-h, 0), calc(clamp(0, var(--mood-swings-success-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-success-container-l, 0), 100) * 1%));
  --mood-swings-on-success-container-h: var(--mood-swings-success-container-h, 0);
  --mood-swings-on-success-container-s: clamp(0, var(--mood-swings-success-container-s, 0), 100);
  --mood-swings-on-success-container--sign: calc(-2 * clamp(0, var(--mood-swings-success-container-l) - 50, 1) + 1);
  --mood-swings-on-success-container-l: calc(clamp(0, var(--mood-swings-success-container-l, 0), 100) + 50 * var(--mood-swings-on-success-container--sign));
  --mood-swings-on-success-container: hsl(var(--mood-swings-on-success-container-h, 0), calc(clamp(0, var(--mood-swings-on-success-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-success-container-l, 0), 100) * 1%));
  --mood-swings-primary-h: calc(var(--mood-swings-mood--flag, 0) * calc(0.1 * var(--mood-swings-accent-h, 0) + (1 - 0.1) * var(--mood-swings-mood-h, 0)) + (1 - var(--mood-swings-mood--flag, 0)) * var(--mood-swings-accent-h, 0));
  --mood-swings-primary-s: calc(var(--mood-swings-mood--flag, 0) * calc(0.1 * clamp(0, var(--mood-swings-accent-s, 0), 100) + (1 - 0.1) * clamp(0, var(--mood-swings-mood-s, 0), 100)) + (1 - var(--mood-swings-mood--flag, 0)) * clamp(0, var(--mood-swings-accent-s, 0), 100));
  --mood-swings-primary-l: calc(var(--mood-swings-mood--flag, 0) * calc(0.1 * clamp(0, var(--mood-swings-accent-l, 0), 100) + (1 - 0.1) * clamp(0, var(--mood-swings-mood-l, 0), 100)) + (1 - var(--mood-swings-mood--flag, 0)) * clamp(0, var(--mood-swings-accent-l, 0), 100));
  --mood-swings-primary: hsl(var(--mood-swings-primary-h, 0), calc(clamp(0, var(--mood-swings-primary-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-primary-l, 0), 100) * 1%));
  --mood-swings-on-primary-h: var(--mood-swings-primary-h, 0);
  --mood-swings-on-primary-s: clamp(0, var(--mood-swings-primary-s, 0), 100);
  --mood-swings-on-primary--sign: calc(-2 * clamp(0, var(--mood-swings-primary-l) - 50, 1) + 1);
  --mood-swings-on-primary-l: calc(clamp(0, var(--mood-swings-primary-l, 0), 100) + 50 * var(--mood-swings-on-primary--sign));
  --mood-swings-on-primary: hsl(var(--mood-swings-on-primary-h, 0), calc(clamp(0, var(--mood-swings-on-primary-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-primary-l, 0), 100) * 1%));
  --mood-swings-primary-container-h: var(--mood-swings-primary-h, 0);
  --mood-swings-primary-container-s: clamp(0, var(--mood-swings-primary-s, 0), 100);
  --mood-swings-primary-container--sign: calc(-2 * clamp(0, var(--mood-swings-primary-l) - 30, 1) + 1);
  --mood-swings-primary-container-l: calc(clamp(0, var(--mood-swings-primary-l, 0), 100) + 30 * var(--mood-swings-primary-container--sign));
  --mood-swings-primary-container: hsl(var(--mood-swings-primary-container-h, 0), calc(clamp(0, var(--mood-swings-primary-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-primary-container-l, 0), 100) * 1%));
  --mood-swings-on-primary-container-h: var(--mood-swings-primary-container-h, 0);
  --mood-swings-on-primary-container-s: clamp(0, var(--mood-swings-primary-container-s, 0), 100);
  --mood-swings-on-primary-container--sign: calc(-2 * clamp(0, var(--mood-swings-primary-container-l) - 50, 1) + 1);
  --mood-swings-on-primary-container-l: calc(clamp(0, var(--mood-swings-primary-container-l, 0), 100) + 50 * var(--mood-swings-on-primary-container--sign));
  --mood-swings-on-primary-container: hsl(var(--mood-swings-on-primary-container-h, 0), calc(clamp(0, var(--mood-swings-on-primary-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-primary-container-l, 0), 100) * 1%));
  --mood-swings-secondary-h: calc(var(--mood-swings-mood--flag, 0) * calc(0.6 * var(--mood-swings-accent-variant-h, 0) + (1 - 0.6) * var(--mood-swings-mood-h, 0)) + (1 - var(--mood-swings-mood--flag, 0)) * var(--mood-swings-accent-variant-h, 0));
  --mood-swings-secondary-s: clamp(0, var(--mood-swings-accent-variant-s, 0), 100);
  --mood-swings-secondary-l: calc(var(--mood-swings-mood--flag, 0) * calc(0.6 * clamp(0, var(--mood-swings-accent-variant-l, 0), 100) + (1 - 0.6) * clamp(0, var(--mood-swings-mood-l, 0), 100)) + (1 - var(--mood-swings-mood--flag, 0)) * clamp(0, var(--mood-swings-accent-variant-l, 0), 100));
  --mood-swings-secondary: hsl(var(--mood-swings-secondary-h, 0), calc(clamp(0, var(--mood-swings-secondary-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-secondary-l, 0), 100) * 1%));
  --mood-swings-on-secondary-h: var(--mood-swings-secondary-h, 0);
  --mood-swings-on-secondary-s: clamp(0, var(--mood-swings-secondary-s, 0), 100);
  --mood-swings-on-secondary--sign: calc(-2 * clamp(0, var(--mood-swings-secondary-l) - 50, 1) + 1);
  --mood-swings-on-secondary-l: calc(clamp(0, var(--mood-swings-secondary-l, 0), 100) + 50 * var(--mood-swings-on-secondary--sign));
  --mood-swings-on-secondary: hsl(var(--mood-swings-on-secondary-h, 0), calc(clamp(0, var(--mood-swings-on-secondary-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-secondary-l, 0), 100) * 1%));
  --mood-swings-secondary-container-h: var(--mood-swings-secondary-h, 0);
  --mood-swings-secondary-container-s: clamp(0, var(--mood-swings-secondary-s, 0), 100);
  --mood-swings-secondary-container--sign: calc(-2 * clamp(0, var(--mood-swings-secondary-l) - 30, 1) + 1);
  --mood-swings-secondary-container-l: calc(clamp(0, var(--mood-swings-secondary-l, 0), 100) + 30 * var(--mood-swings-secondary-container--sign));
  --mood-swings-secondary-container: hsl(var(--mood-swings-secondary-container-h, 0), calc(clamp(0, var(--mood-swings-secondary-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-secondary-container-l, 0), 100) * 1%));
  --mood-swings-on-secondary-container-h: var(--mood-swings-secondary-container-h, 0);
  --mood-swings-on-secondary-container-s: clamp(0, var(--mood-swings-secondary-container-s, 0), 100);
  --mood-swings-on-secondary-container--sign: calc(-2 * clamp(0, var(--mood-swings-secondary-container-l) - 50, 1) + 1);
  --mood-swings-on-secondary-container-l: calc(clamp(0, var(--mood-swings-secondary-container-l, 0), 100) + 50 * var(--mood-swings-on-secondary-container--sign));
  --mood-swings-on-secondary-container: hsl(var(--mood-swings-on-secondary-container-h, 0), calc(clamp(0, var(--mood-swings-on-secondary-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-secondary-container-l, 0), 100) * 1%));
  --mood-swings-surface-h: var(--mood-swings-primary-h, 0);
  --mood-swings-surface-s: 10;
  --mood-swings-surface-l: clamp(0, var(--mood-swings-primary-l, 0), 100);
  --mood-swings-surface: hsl(var(--mood-swings-surface-h, 0), calc(clamp(0, var(--mood-swings-surface-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-surface-l, 0), 100) * 1%));
  --mood-swings-on-surface-h: var(--mood-swings-surface-h, 0);
  --mood-swings-on-surface-s: clamp(0, var(--mood-swings-surface-s, 0), 100);
  --mood-swings-on-surface--sign: calc(-2 * clamp(0, var(--mood-swings-surface-l) - 50, 1) + 1);
  --mood-swings-on-surface-l: calc(clamp(0, var(--mood-swings-surface-l, 0), 100) + 50 * var(--mood-swings-on-surface--sign));
  --mood-swings-on-surface: hsl(var(--mood-swings-on-surface-h, 0), calc(clamp(0, var(--mood-swings-on-surface-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-surface-l, 0), 100) * 1%));
  --mood-swings-surface-container-h: var(--mood-swings-surface-h, 0);
  --mood-swings-surface-container-s: clamp(0, var(--mood-swings-surface-s, 0), 100);
  --mood-swings-surface-container--sign: calc(-2 * clamp(0, var(--mood-swings-surface-l) - 30, 1) + 1);
  --mood-swings-surface-container-l: calc(clamp(0, var(--mood-swings-surface-l, 0), 100) + 30 * var(--mood-swings-surface-container--sign));
  --mood-swings-surface-container: hsl(var(--mood-swings-surface-container-h, 0), calc(clamp(0, var(--mood-swings-surface-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-surface-container-l, 0), 100) * 1%));
  --mood-swings-on-surface-container-h: var(--mood-swings-surface-container-h, 0);
  --mood-swings-on-surface-container-s: clamp(0, var(--mood-swings-surface-container-s, 0), 100);
  --mood-swings-on-surface-container--sign: calc(-2 * clamp(0, var(--mood-swings-surface-container-l) - 50, 1) + 1);
  --mood-swings-on-surface-container-l: calc(clamp(0, var(--mood-swings-surface-container-l, 0), 100) + 50 * var(--mood-swings-on-surface-container--sign));
  --mood-swings-on-surface-container: hsl(var(--mood-swings-on-surface-container-h, 0), calc(clamp(0, var(--mood-swings-on-surface-container-s, 0), 100) * 1%), calc(clamp(0, var(--mood-swings-on-surface-container-l, 0), 100) * 1%));
}
