@use './utils';
@use '../api';

////
/// @access public
/// @group wrapper
////

/// Creates a new color
/// @param {string} name
///     Name of the color
/// @param {color} color
///     Color
/// @requires {mixin} api.inject
///     <../../docs/api/#api-mixin-inject>
/// @requires {function} abstract
@mixin new($name, $color) {
    @include api.inject($name,
        utils.abstract(hue($color)),
        utils.abstract(saturation($color)),
        utils.abstract(lightness($color)));
}

/// Injects colors into the css scope
/// @param {color} accent [hsl(270, 60%, 42%)]
///     Accent color
/// @param {color} accent-variant [hsl(60, 60%, 42%)]
///     Accent variant color
/// @param {color} mood [hsl(0, 0%, 0%)]
///     Mood color
/// @param {color} warning [hsl(0, 60%, 42%)]
///     Warning color
/// @param {color} warning-variant [hsl(60, 60%, 42%)]
///     Warning variant color
/// @param {color} success [hsl(120, 60%, 42%)]
///     Success color
/// @requires {mixin} api.inject-hsl
///     <../../docs/api/#api-mixin-inject-hsl>
/// @requires {mixin} api.inject
///     <../../docs/api/#api-mixin-inject>
/// @requires {mixin} api.mood-flag
///     <../../docs/api/#api-mixin-mood-flag>
/// @requires {function} api.blend-mood
///     <../../docs/api/#api-function-blend-mood>
/// @requires {function} api.runtime
///     <../../docs/api/#api-function-runtime>
/// @requires {function} abstract
/// @requires {mixin} new
@mixin container($accent: hsl(270, 60%, 42%),
    $accent-variant: hsl(60, 60%, 42%),
    $mood: hsl(0, 0%, 0%),
    $warning: hsl(0, 60%, 42%),
    $warning-variant: hsl(60, 60%, 42%),
    $success: hsl(120, 60%, 42%)) {
    @include api.inject-hsl(accent,
        utils.abstract(hue($accent)),
        utils.abstract(saturation($accent)),
        utils.abstract(lightness($accent)));
    @include api.inject-hsl(accent-variant,
        utils.abstract(hue($accent-variant)),
        utils.abstract(saturation($accent-variant)),
        utils.abstract(lightness($accent-variant)));
    @include api.inject-hsl(mood,
        utils.abstract(hue($mood)),
        utils.abstract(saturation($mood)),
        utils.abstract(lightness($mood)));
    @include api.mood-flag;

    @include new(warning, $warning);
    @include new(warning-variant, $warning-variant);
    @include new(success, $success);

    @include api.inject(primary,
        api.blend-mood(accent, h, 0.3),
        api.blend-mood(accent, s),
        api.blend-mood(accent, l));

    @include api.inject(secondary,
        api.blend-mood(accent-variant, h, 0.6),
        api.runtime(accent-variant, s),
        api.runtime(accent-variant, l));

    @include api.inject(surface,
        api.blend-mood(accent, h),
        10,
        api.runtime(accent, l));
}
