////
/// @access public
/// @group tokens
////

/// @type string
$prefix: 'mood-swings' !default;

/// @type Color
$accent: hsl(280deg 60% 30%) !default;

/// @type Color
$variant: hsl(150deg 60% 30%) !default;

/// @type Color
$mood: #000 !default;

/// @type Color
$error: hsl(357deg 72% 42%) !default;

/// @type Color
$warning: hsl(48deg 72% 42%) !default;

/// @type Color
$success: hsl(150deg 72% 42%) !default;

/// @type number
$on-shift: 50 !default;

/// @type number
$container-shift: 30 !default;

/// @type number
$blend-ratio: 0.1 !default;

/// @type number
$secondary-blend-ratio: 0.6 !default;
